<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <% include ../partials/header %>
    <style>
        @media (max-width: 768px) {
            .cartHeader {
                display: none;
            }
            .col-md-1 {
                text-align: center !important;
            }
        }
    </style>
    <div class="container pb-4">
        <div class="row">
            <div class="col-lg-7">
                <div class="mt-5">
                    <div class="card mt-5 mb-5">
                        <div class="row pt-3 pb-3 grey-text text-center">
                            <div class="col-md-7">
                                Product
                            </div>
                            <div class="col-md-2 cartHeader">
                                Quantity
                            </div>
                            <div class="col-md-3 cartHeader">
                                Price (S$)
                            </div>
                        </div>
                        <% for(var i=0; i<cartData.length; i++){ %>
                        <div class="row pt-3 pb-3 text-center" style="border-top:solid thin #e0e0e0" id="cartRow<%=cartData[i].dataValues.id%>">
                            <div class="col-md-7 text-left">
                                <div class="row pl-4">
                                    <div class="prodImgContainer ml-3 mr-2" style="width:100px">
                                        <div class="" style="
                                            background-image: url('<%=hostPath%>/images/products/<%=cartData[i].dataValues.productImage%>');
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center center;
                                            width: 100%;
                                            padding-top: 100%;">
                                        </div>
                                    </div>
                                    <div class="col pt-3 pl-0 pr-0">
                                        <div>
                                            <%=cartData[i].dataValues.productName%>
                                        </div>
                                        <small class="grey-text">
                                            <%=cartData[i].dataValues.productType%>
                                        </small>
                                        <div>
                                            <small>Unit price: S$
                                                <span id="unitPrice<%=cartData[i].dataValues.id%>">
                                                    <%=cartData[i].dataValues.price%>
                                                </span>
                                            </small>
                                            <small class="grey-text"> (
                                                <span id="prodQuantity<%=cartData[i].dataValues.id%>">
                                                    <%=cartData[i].dataValues.prodQuantity%>
                                                </span> left)
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 mt-2 pt-4">
                                <h5><span style="font-size: 1.5rem; font-weight: 400"><%=cartData[i].dataValues.quantity%></span></h5>
                            </div>
                            <div class="col-md-3 text-weight-normal mt-2 pt-4 pr-0 pl-0" style="font-size:1.5rem">
                                <span id="cartPrice<%=cartData[i].dataValues.id%>"></span>
                                <script>
                                    document.getElementById("cartPrice<%=cartData[i].dataValues.id%>").innerText = parseFloat(parseInt("<%=cartData[i].dataValues.quantity%>") * parseFloat("<%=cartData[i].dataValues.price%>")).toFixed(2)
                                </script>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card mt-lg-5 mb-5 bg-dark text-white">
                    <div class="row m-0">
                        <div class="col">
                            <h4 class="pl-4 pt-5 pb-2 mt-5 font-weight-normal">My Silicon Wallet</h4>
                        </div>
                        <div class="col-3 pt-5 mt-5">
                            <a href="/Wallet"><i class="material-icons text-warning" style="font-size:2rem">arrow_upward</i></a>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col pr-0">
                            <h5 class="pl-4 pt-2 pr-0">Balance</h5>
                        </div>
                        <div class="col-7">
                            <h5 class="font-weight-normal pt-2" id="balanceDisplay">S$ <%=wallet[0].balance%></h5>
                        </div>
                    </div>
                    <div class="row m-0 sr-only" id="balanceErr" >
                        <div class="col pr-0 ml-4">
                            <h6 class="text-danger text-center bg-light mt-3 pr-0 pl-0 pt-3 pb-3 font-weight-normal" style="border-top-left-radius: 10em!important;border-bottom-left-radius: 10em!important;font-size:1rem">
                                Insufficient Balance
                            </h6>
                        </div>
                        <div class="col-5 pl-0 mr-4">
                            <a href="/Wallet">
                                <button class="bg-danger text-light btn btn-block mt-3 font-weight-bold waves-effect waves-light" style="border-top-right-radius: 10em!important;border-bottom-right-radius: 10em!important; font-size:1rem">TOPUP</button>
                            </a>
                        </div>
                    </div>
                    <div class="row m-0 pb-4" style="border-bottom:solid thin grey"></div>
                    <div class="row m-0">
                        <div class="col">
                            <h4 class="pl-4 pt-3 pb-2 mt-3 font-weight-normal">My Address</h4>
                        </div>
                        <div class="col-3">
                            <a href="/profile"><i class="material-icons text-warning pt-3 mt-3" style="font-size:2rem">edit_mode</i></a>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col pr-0">
                            <h5 class="pl-4 pt-2 pr-4" id="address"><%=cartData[0].dataValues.address%></h5>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col pr-0">
                            <h5 class="pl-4 pt-2 pr-0">Postal</h5>
                        </div>
                        <div class="col-7">
                            <h5 class="font-weight-normal pt-2" id="postalCode"><%=cartData[0].dataValues.postal_code%></h5>
                        </div>
                    </div>
                    <div class="row m-0 sr-only" id="addressErr">
                        <div class=" col-12">
                            <div class="pl-4 pr-4">
                            <a href="/profile">
                                <button class="bg-danger text-light btn btn-block mt-3 font-weight-bold waves-effect waves-light" style="border-radius: 10em!important;font-size:1rem">Please fill in Address</button>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 pb-4" style="border-bottom:solid thin grey"></div>
                    <div class="row m-0">
                        <div class="col">
                            <h4 class="pl-4 pt-3 pb-2 mt-3 font-weight-normal">Check Out</h4>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col">
                            <h5 class="pl-4 pt-4">Subtotal</h5>
                        </div>
                        <div class="col-7">
                            <h5 class="font-weight-normal pt-4">S$
                                <span id="cartSubTotal">0.00</span>
                            </h5>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col">
                            <h6 class="pl-4 pt-2 pr-0">Shipping</h6>
                        </div>
                        <div class="col-7">
                            <h6 class="font-weight-normal pt-2">Free</h6>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col">
                            <h6 class="pl-4 pt-2 pr-0">Discount</h6>
                        </div>
                        <div class="col-7">
                            <h6 class="font-weight-normal pt-2">N/A</h6>
                        </div>
                    </div>
                    <div class="row m-0 pt-3 pb-3">
                        <div class="col">
                            <h3 class="pl-4 pt-3 font-weight-bold">Total</h3>
                        </div>
                        <div class="col-7">
                            <h3 class="font-weight-bold pt-3 text-warning">$S
                                <span id="cartTotal">0.00</span>
                            </h3>
                        </div>
                    </div>
                    <div class="row p-3 m-0">
                        <div class="col p-4 mb-4">
                            <button disabled type="button" class="btn btn-warning btn-block font-weight-bold waves-effect waves-light" style="border-radius:10em!important;font-size: 1rem" id="submitCheckout">Confirm Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var total=0;
        var cartIDarr =[];
        '<% for(var i=0; i<cartData.length; i++){ %>'
        cartIDarr.push("<%=cartData[i].dataValues.id%>");
        '<% } %>'
        for (var i=0;i<cartIDarr.length;i++){
            $("#cartCheck"+cartIDarr[i]).prop('checked','checked');
            total+=parseFloat(document.getElementById("cartPrice"+cartIDarr[i]).innerText);
        };
        document.getElementById("cartSubTotal").innerText=parseFloat(total).toFixed(2);
        document.getElementById("cartTotal").innerText=parseFloat(total).toFixed(2);
        if (total>parseFloat("<%=wallet[0].balance%>")){
            $("#balanceErr").removeClass("sr-only");
            $("#balanceDisplay").addClass("text-danger")
        }
        if (document.getElementById("address").innerText=="" || document.getElementById("postalCode").innerText==""){
            $("#addressErr").removeClass("sr-only");
        }
        if (total<=parseFloat("<%=wallet[0].balance%>")&&document.getElementById("address").innerText!=""&&document.getElementById("postalCode").innerText!=""){
            $("#submitCheckout").removeAttr("disabled")
        }
        $("#submitCheckout").click(()=>{
            $.ajax({
                url: "<%=hostPath%>/checkout",
                type: "POST",
            })
        })
    </script>
    <% include ../partials/footer %>
</body>
</html>