<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <% include ../partials/header %>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Product Record</h4>
    </div>
    <form action="/productsmanager/edit/<%=item.id%>" method="post" enctype="multipart/form-data">
        <fieldset class = "form-group">
            <label for ="inputproductImage">Product Image:</label>
            <input type ="file" id = "inputproductImage" name ="productImage" class = "form-control" placeholder="Product Image" required = "true" value=" <%=item.productImage%>"
        </fieldset>
        <fieldset class="form-group">
            <label for="inputproductName">Product Name</label>
            <input type="text" id="inputproductName" name="productName" class="form-control" placeholder="Product Name" required="true" value="<%=item.productName%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputType">Type</label>
            <input type="text" id="inputType" name="type" class="form-control" placeholder="Type" required="true" value="<%=item.productType%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="productDesc">Product Description</label>
            <input type="text" id="inputDesc" name="productDesc" class="form-control" placeholder="Product Description" required="true" value = "<%=item.productDesc%>">
          </fieldset>
        <fieldset class="form-group">
            <label for="inputquantity">Quantity</label>
            <input type="text" id="inputquantity" name="quantity" class="form-control" placeholder="quantity" required="true" value="<%=item.quantity%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputPrice">Price</label>
            <input type="text" id="inputPrice" name="price" class="form-control" placeholder="price" required="true" value="<%=item.price%>">
        </fieldset>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>
    </div>
    <script>
        function saveChanges() {
            var url = "<%=hostPath%>/productsmanager/edit/<%=item.id%>";
            var newValues = {
                productImage:$("#inputproductImage").val(),
                productName: $("#inputproductName").val(),
                productType: $("#inputType").val(),
                quantity: $("#inputquantity").val(),
                price: $("#inputPrice").val()
            }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert(" Product updated successfully");
                    location.href = "<%=hostPath%>/productsmanager"
                },
                error: function(result){
                    alert("Error updating product");
                    discardChanges();
                }
            })
        }
        function discardChanges() {
            location.href = "<%=hostPath%>/productsmanager"
        }
    </script>
    <% include ../partials/footer %>
</body>
</html>
