<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <style>
    #editProduct {
        background-color:#fff3e0;
        color: #000000;
    }
    </style>
</head>
<body>
    <% include ../partials/header %>
    <div class="container m-auto pb-5" style="max-width: 500px;">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Product Record</h4>
    </div>
    <form class="p-4 card" id = "editProduct"action="/productsmanager/edit/<%=item.id%>" method="post" enctype="multipart/form-data">
        <fieldset class = "form-group">
            <label for ="inputproductImage" >Product Image:</label>
            <input type ="file" id = "inputproductImage" name ="productImage" class = "form-control" placeholder="Product Image" required = "true" value=" <%=item.productImage%>"
        </fieldset>    
        <fieldset class="form-group">
            <label for="inputproductName">Product Name: </label>
            <input type="text" id="inputproductName" name="productName" class="form-control" placeholder="Product Name" required="true" value="<%=item.productName%>">
        </fieldset>
        <fieldset class="form-group" id="content">
            <label for="inputType"> Product Type: </label>
            <select class = "form-control" name = "productType" id="productType" required ="true">
                <option class = "productTypeOption" value = ""></option>
                <option class = "productTypeOption" value = "Processor">Processor</option>
                <option class = "productTypeOption" value="Memory">Memory</option>
                <option class = "productTypeOption" value = "MotherBoard">MotherBoard</option>
                <option class = "productTypeOption" value="Graphic Card">Graphic Card</option>
                <option class = "productTypeOption" value="Sound Card">Sound Card</option>
                <option class = "productTypeOption" value="Cooling Fans">Cooling Fans</option>
                <option class = "productTypeOption" value = "Power Supply">Power Supply</option>
                <option class = "productTypeOption" value = "Computer Case">Computer Case</option>
                <option class = "productTypeOption" value = "Storage" >Storage</option>
                <option class = "productTypeOption" value = "Networking" >Networking</option>
                <option class = "productTypeOption" value = "Mouse">Mouse</option>
                <option class = "productTypeOption" value="Keyboard">Keyboard</option>
                <option class = "productTypeOption" value = "Monitor">Monitor</option>
                <option class = "productTypeOption" value="Headset">Headset</option>
                <option class = "productTypeOption" value="Speaker">Speaker</option>
                <option class = "productTypeOption" value="Accessory">Accessory</option>
              </select>
        </fieldset>
        <script>
            for (var i=0;i<$(".productTypeOption").length;i++){
                var productTypeOption = document.getElementsByClassName("productTypeOption")
                var selected = (productTypeOption[i].value=="<%=item.productType%>")?"selected":false;
                console.log(selected);
                console.log(productTypeOption[i]);
                $(productTypeOption[i]).attr("selected", selected)
            }
        </script>
        <fieldset class="form-group">
            <label for="productDesc">Product Description: </label>
            <input type="text" row ="5" col="5" id="inputDesc" name="productDesc" class="form-control" placeholder="Product Description" required="true" value = "<%=item.productDesc%>">
          </fieldset>
        <fieldset class="form-group">
            <label for="inputquantity">Quantity: </label>
            <input type="number"  min="0" id="inputquantity" name="quantity" class="form-control" placeholder="quantity" required="true" value="<%=item.quantity%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputPrice">Price: </label>
            <input type="number"  min="0" step="0.01" id="inputPrice" name="price" class="form-control" placeholder="price" required="true" value="<%=item.price/(1-item.discount_percentage)%>">
        </fieldset>
        <fieldset class="form-group pt-3"> 
            <div class="row">
              <div class="col-3">
                <label for="discount_percentage"> Discount: </label>
              </div>
              <input class="col-2 form-control" type="number" max="99" min="0" id="inputdiscount_percentage" name="discount_percentage" class="form-control" required="true" style="position: relative;top:-8px" value="<%=item.discount_percentage * 100%>">
              <div class="col-1">
                <div >%</div>
              </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>
    </div>
    <script>
        function saveChanges() {
            var url = "<%=hostPath%>/productsmanager/edit/<%=item.id%>";
            var newValues = {
                productImage:$("#inputproductImage").val(),
                productName: $("#inputproductName").val(),
                productType: $("#inputType").val(),
                quantity: $("#inputquantity").val(),
                price: $("#inputPrice").val(),
                discount_percentage: $("#discount_percentage").val()
                }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert(" Product updated successfully");
                    location.href = "<%=hostPath%>/productsmanager"
                },
                error: function(result){
                    alert("Error updating product");
                    discardChanges();
                }
            })
        }
        function discardChanges() {
            location.href = "<%=hostPath%>/productsmanager"
        }
    </script>
    </div>
    <% include ../partials/footer %>
</body>
</html>
