<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <% include ../partials/header %>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Product Record</h4>
    </div>
    <form action="/productsmanager/edit/<%=item.id%>" method="post" enctype="multipart/form-data">
        <fieldset class = "form-group">
            <label for ="inputproductImage">Product Image:</label>
            <input type ="file" id = "inputproductImage" name ="productImage" class = "form-control" placeholder="Product Image" required = "true" value=" <%=item.productImage%>"
        </fieldset>
        <fieldset class="form-group">
            <label for="inputproductName">Product Name: </label>
            <input type="text" id="inputproductName" name="productName" class="form-control" placeholder="Product Name" required="true" value="<%=item.productName%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputType"> Product Type: </label>
            <select name = "productType" id="productType" required ="true">
                <option value = ""></option>
                <option value = "Storage" >Storage</option>
                <option value = "Optical Drive">Optical Drive</option>
                <option value = "MotherBoard">MotherBoard</option>
                <option value="Memory">Memory</option>
                <option value="Graphic Card">Graphic Card</option>
                <option value = "Processor">Processor</option>
                <option value = "Mouse">Mouse</option>
                <option value="Keyboard">Keyboard</option>
                <option value = "Monitor">Monitor</option>
                <option value = "Computer Case">Computer Case</option>
                <option value = "Power Supplies">Power Supplies</option>
              </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="productDesc">Product Description: </label>
            <input type="text" id="inputDesc" name="productDesc" class="form-control" placeholder="Product Description" required="true" value = "<%=item.productDesc%>">
          </fieldset>
        <fieldset class="form-group">
            <label for="inputquantity">Quantity</label>
            <input type="text" id="inputquantity" name="quantity" class="form-control" placeholder="quantity" required="true" value="<%=item.quantity%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="inputPrice">Price</label>
            <input type="text" id="inputPrice" name="price" class="form-control" placeholder="price" required="true" value="<%=item.price%>">
        </fieldset>
        <fieldset class="form-group">
            <label for="discount_percentage"> discount_percentage: </label>
            <select name = "discount_percentage" id="discount_percentage" required ="true">
                <option value = ""></option>
                <option value = 0.1 >10%</option>
                <option value = 0.2>20%</option>
                <option value = 0.3>30%</option>
                <option value= 0.4>40%</option>
                <option value= 0.5>50%</option>
                <option value = 0.6>60%</option>
                <option value = 0.7>70%</option>
                <option value= 0.8>80%</option>
                <option value = 0.9>90%</option>
              </select>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick=discardChanges()>Cancel</button>
    </div>
    <script>
        function saveChanges() {
            var url = "<%=hostPath
            %>/productsmanager/edit/<%=item.id%>";
            var newValues = {
                productImage:$("#inputproductImage").val(),
                productName: $("#inputproductName").val(),
                productType: $("#inputType").val(),
                quantity: $("#inputquantity").val(),
                price: $("#inputPrice").val(),
                discount_percentage: $("#discount_percentage").val()
            }
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(newValues),
                dataType: "json",
                contentType: "application/json",
                success: function(result){
                    alert(" Product updated successfully");
                    location.href = "<%=hostPath%>/productsmanager"
                },
                error: function(result){
                    alert("Error updating product");
                    discardChanges();
                }
            })
        }
        function discardChanges() {
            location.href = "<%=hostPath%>/productsmanager"
        }
    </script>
    <% include ../partials/footer %>
</body>
</html>
