<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div>
      <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
          <li data-target="#carousel-example-2" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view" style="height: 360px; width: 100%; overflow: hidden;">
              <video class="w-100" autoplay loop >
                <source class="w-100" src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Welcome to <%=title%></h3>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="view">
              <div class="d-block w-100" style="height: 360px; overflow: hidden;background-image: url('https://unlocked.newegg.com/sites/default/files/asus-miniitx-z270e-nzxt-build-55.jpeg');background-size:100% auto;"></div>
              <div class="mask rgba-black-light h-50" style=" top:50%; background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.5));"></div>
            </div>
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Awesome Build</h3>
                <p>First text</p>
              </div>
            </div>
          </div>
          
          <div class="carousel-item">
            <div class="view">
              <div class="d-block w-100" style="height: 360px; overflow: hidden;background-image: url('https://i.ytimg.com/vi/NSNz6VVpWI8/maxresdefault.jpg');background-size:100% auto;"></div>
              <div class="mask rgba-black-light h-50" style=" top:50%; background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.5));"></div>
            </div>
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">High Quality Specs</h3>
                <p>Secondary text</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="view">
              <div class="d-block w-100" style="height: 360px; overflow: hidden;background-image: url('https://www.geforce.com/sites/default/files-world/attachments/diy-blueprint-2560x1600.jpg');background-size:100% auto;"></div>
              <div class="mask rgba-black-light h-50"  style=" top:50%; background: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.5));"></div>
            </div>
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Professional Guide</h3>
                <p>Third text</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container pt-5 pb-5 mb-5">
      <h3 class="text-center p-3"> Most Popular</h3>
      <div class="row">
        <% for(var i=0; i < products.length; i++){ %>
          <style>
            .productCard{
              transition: box-shadow 0.3s, border 0.3s;
              border: thin solid rgba(0, 0, 0, 0);
            }
            .productCard:hover{
              border: thin solid #f80;
              box-shadow: 0 0 10px #f80;
            }
          </style>
          <a class="col-lg-3 pb-4" href="<%=hostPath%>/product/<%=products[i].id%>"</a>
            <div class="card productCard">
              <div class="p-3">
                <div class="prodImgContainer" 
                  style=
                    "background-image: url('<%=hostPath%>/images/products/<%=products[i].productImage%>');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 100%;
                    padding-top: 75%;">
                </div>
              </div>
              <div class="card-body">
                <div class="card-title mb-1"><%= products[i].productName %></div>
                <div class="card-text pb-2">
                  <%= products[i].productType %>
                </div>
                <h4 class="card-title text-warning">
                  SGD <%= products[i].price %>
                </h4>
                <div class="card-text">
                  <i class="material-icons pr-2" style="vertical-align: -6px">store</i><%= products[i].userID %>
                </div>
                <div class="card-text pt-3">
                  <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                  <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                  <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                  <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                  <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                </div>
              </div>
            </div>
          </a>
        <% } %>
      </div>
    </div>
    <% include ../partials/footer %>
</body>
</html>
