<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>
    #orderdetails {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#orderdetails td, #orderdetails th {
    border: 1px solid #ddd;
    padding: 8px;
}

#orderdetails tr:nth-child(even){background-color: #f2f2f2;}

#orderdetails tr:hover {background-color: #ddd;}

#orderdetails th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
h{
    text-align: right;
    font-size:40px;
}
</style>
<body>
    <% include ../partials/header %>
    
    <h>Order History</h> <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by:
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Order Date</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">Product Name</a></li>
        </ul>
      </div>
   
    <table id="orderdetails">
            <tr>
              <th>S/N</th>
              <th>Product Image</th>
              <th>Date of Purchase</th>
              
              <th>Order ID</th>
              <th>Product Name</th>
              <th>Product Type</th>
              <th>Product Description</th>
              <th>Product Price</th>
              <th>Quantity</th>
            </tr>
            <% for (var i=0; i < orderhistory.length ; i++){ %>
            <tr>
              <td><%=i+1%></td>
              <td><img src = "images/products/<%=orderhistory[i].dataValues.productImage %> " width="70px" height="70px"></td>
              
              <td><%= orderhistory[i].dataValues.orderDate %></td>
              <td><%= orderhistory[i].dataValues.orderID %></td>
              <td><%= orderhistory[i].dataValues.productName %></td>
              <td><%= orderhistory[i].dataValues.productType %></td>
              <td><%= orderhistory[i].dataValues.productDesc %></td>
              <td><%= orderhistory[i].dataValues.price %></td>
              <td><%= orderhistory[i].dataValues.quantity %></td>
            </tr>
            <% } %>
          </table>
            <br>
            <br>
            <% include ../partials/footer %>

</body>
</html>