<!DOCTYPE html>
<html>
<head>
<!-- load jQuery and tablesorter scripts -->


<script>
    
    $("#myTable").tablesorter();
</script>
    <title><%= title %></title>
</head>
<style>
    #myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablesorter-header{
    cursor: pointer;
}
#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
h{
    text-align: right;
    font-size:40px;
}
</style>
<script>
 
</script>
<body>
    <% include ../partials/header %>
<script>
    $(function () {
        $("#myTable").tablesorter();
    });
</script>
    <h>Order History</h> 
      <table id="myTable" class="tablesorter"> 
   <thead class="tablesorter-header">
        
            <tr>
              <th>S/N</th>
              <th>Product ID</th>
              <th>Product Image</th>
              <th>Date of Purchase</th>
              
              <th>Order ID</th>
              <th>Product Name</th>
              <th>Product Type</th>
             
              <th>Product Price</th>
              <th>Quantity</th>
              <th>Write a Review</th>
            </tr>
        </thead>
            <tbody>
            <% for (var i=0; i < orderhistory.length ; i++){ %>
            <tr>
            
              <td><%=i+1%></td>
              <td><%=orderhistory[i].dataValues.productID%></td>
              <td><img src = "<%=urlPath%>/images/products/<%=orderhistory[i].dataValues.productImage %> " width="70px" height="70px"></td>
              <td id="orderDate<%=i%>"></td>
              <script>
                  document.getElementById("orderDate<%=i%>").innerText = moment("<%=orderhistory[i].dataValues.orderDate%>","ddd MMM D").format("MMM Do YYYY");
              </script>
              <td><%= orderhistory[i].dataValues.orderID %></td>
              <td><%= orderhistory[i].dataValues.productName %></td>
              <td><%= orderhistory[i].dataValues.productType %></td>
              <td><%= orderhistory[i].dataValues.price %></td>
              <td><%= orderhistory[i].dataValues.quantity %></td>
              <td>Review This Product</td>
            </tr>
            <% } %>
        </tbody>
          </table>
        
            <br>
            <br>
            <% include ../partials/footer %>

</body>
</html>