<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>
    #myTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablesorter-header{
    cursor: pointer;
}
#myTable td, #myTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
    padding-top: 12px;
    padding-bottom: 12px;
  
    background-color:#0000FF;
    color: white;
}
h{
    text-align: right;
    font-size:40px;
}
</style>
<script>
 
</script>
<body>
    <% include ../partials/header %>
<script>
    $(function () {
        $("#myTable").tablesorter();
    });
</script>
    <h>Order History</h> 
    
      <table id="myTable" class="tablesorter text-center"> 
   <thead class="tablesorter-header text-center" >
        
            <tr>
              <th>S/N</th>
              
              
              <th>Order ID</th>
              <th>Purchase Date</th>
              <th>Total Price</th>
              <th>Manage Order</th>
            </tr>
        </thead>
            <tbody>
            <% for (var i=0; i < orderhistory.length ; i++){ %>
            <tr>
            
              <td><%=i+1%></td>
              
             
              <td>#<%= orderhistory[i].dataValues.id %></td>
              <td id="orderDate<%=i%>"></td>
              <script>
                  document.getElementById("orderDate<%=i%>").innerText = moment("<%=orderhistory[i].dataValues.orderDate%>","ddd MMM D").format("MMM Do YYYY");
              </script>
              
        
              <td>$<%= orderhistory[i].dataValues.totalPrice %></td>
              <td><a href="<%=urlPath%>/orderhistory/<%= orderhistory[i].dataValues.id %>"><button type="button" class="btn btn-secondary">Manage</button></a></td>
            </tr>
            <% } %>
        </tbody>
          </table>
         
               
            <br>
            <br>
            <% include ../partials/footer %>

</body>
</html>