<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5">
        <div class="card pl-3 pr-3">
        <div class="p-5 text-center m-md-5">
            <h1 class="font-weight-light mt-3 mb-5">
                <strong>Select Payment Card For Top Up</strong>
            </h1>
        <% if (itemList.length!=0) {%>
        <div class="row bg-primary text-white pt-4/pb-4 font-weight-bold">
            <div class="col-md-1">
                *
            </div>
            <div class="col-3">
                Cardholder Name
            </div>
            <div class="col-3">
                Card Number
            </div>
            <div class="col-2">
                Card Type
            </div>
            <div class="col-1">
                CVC
            </div>
            <div class="col-1">
                Expiry Date
            </div>
        </div>
        <%} else {%>
            <div class="row pt-3 pb-3 mb-5 text justify-content-center">
                <h2 class="p-3">You have not added any payment details yet</h2>
            </div>
        <% } %>
        <% for(var i=0; i < itemList.length; i++){ %>
        <div class="row pt-3 pb-4" id="<%= itemList[i].id %>">
            <div class="col-md-1">
                <div class="form-check ml-md-4">
                    <input type="radio" name="checkThis" class="form-check-input checkThis">
                    <label class="form-check-label" for="checkThis"></label>
                </div>
            </div>
            <div class="col-3">
                <%= itemList[i].cardHolderName %>
            </div>
            <div class="col-3" id="cardNumber<%=i%>">
                <%= itemList[i].cardNumber %>
            </div>
            <script>
                var cardNumberStr = document.getElementById("cardNumber<%=i%>").innerText;
                var show = cardNumberStr.slice(-4);
                var mask = '';
                for (i = (cardNumberStr.length)-4; i>0; i--) {
                    mask += '*';
                }
                var newCardNumberStr = mask + ' ' + show;
                document.getElementById("cardNumber<%=i%>").innerText = newCardNumberStr;
            </script>
            <div class="col-2">
                <%= itemList[i].cardType %>
            </div>
            <div class="col-1" id="securityCode<%=i%>">
                <%= itemList[i].securityCode %>
            </div>
            <script>
                var securityCodeStr = document.getElementById("securityCode<%=i%>").innerText;
                var newSecurityCodeStr = '';
                for (i=0; i<securityCodeStr.length; i++) {
                    newSecurityCodeStr += '*';
                }
                document.getElementById("securityCode<%=i%>").innerText = newSecurityCodeStr; 
            </script>
            <div class="col-1">
                <%= itemList[i].expiryDate %>
            </div>
        </div>
        <% } %>
        <a>
            <button id="proceed" type="button" class="btn btn-success btn-lg">
            Proceed To Top Up
            </button>
        </a>
        <a href="/Wallet">
            <button type="button" class="btn btn-info btn-lg">
            Return To My Wallet
            </button>
        </a>
        </div>
        </div>
    </div>
    <script>
        $("#proceed").click(function () {
            var checked = $(".checkThis").is(':checked');
            console.log(checked);
            if ($(".checkThis").is(':checked') == true) {
                window.location.href= "/Wallet/topup";
            }
            else {
                alert("Please select a card to top up from!");
            }
        });
    </script>
    <% include ../partials/footer %>
</body>
</html>