<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
<link rel="icon" href="<%=hostPath%>/images/source/laptop-512.png">
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5 mb-5 pb-5">
        <div class="card pl-3 pr-3">
        <div class="p-5 text-center m-md-3">
            <h1 class="font-weight-light mt-3 mb-5">
                <strong>My Transaction History</strong>
            </h1>
        <% if (itemList.length!=0) {%>
        <div class="row bg-secondary text-white pt-3 pb-3 font-weight-bold">
            <div class="col-2">
                Transaction Date
            </div>
            <div class="col-2">
                Made To
            </div>
            <div class="col-2">
                Received From
            </div>
            <div class="col-2">
                Description
            </div>
            <div class="col-1">
                Debit (SGD)
            </div>
            <div class="col-1">
                Credit (SGD)
            </div>
            <div class="col-2">
                Balance (SGD)
            </div>
        </div>
        <%} else {%>
            <div class="row pt-3 pb-3 mb-5 text justify-content-center">
                <h2 class="p-3">You do not have any transactions with your wallet</h2>
            </div>    
        <% } %>
        <% for(var i=0; i < itemList.length; i++){ %>
        <div class="row pt-3 pb-4" id="<%= itemList[i].id %>">
            <div class="col-2" id="transactionDate<%=i%>">
                <%= itemList[i].transactionDate %>
            </div>
            <script>
                document.getElementById("transactionDate<%=i%>").innerText = moment(new Date("<%= itemList[i].transactionDate %>")).format("ddd DD MMM YYYY HH:mm");
            </script>
            <div class="col-2">
                <%= itemList[i].paymentMadeTo %>
            </div>
            <div class="col-2">
                <%= itemList[i].paymentReceivedFrom %>
            </div>
            <div class="col-2">
                <%= itemList[i].description %>
            </div>
            <div class="col-1">
                <%= itemList[i].debit %>
            </div>
            <div class="col-1">
                <%= itemList[i].credit %>
            </div>
            <div class="col-2">
                <%= itemList[i].balance %>
            </div>
        </div>
        <% } %>
        <a href="/Wallet">
            <button type="button" class="btn btn-info btn-lg">
            Return To My Wallet
            </button>
        </a>
        </div>    
        </div>
    </div>
    <script>
        
    </script>
    <% include ../partials/footer %>
</body>
</html>