<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
    <% include ../partials/javascript %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-muted">Wishlist</h4>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createPost">
                        Create Wishlist
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form action="/wishlist" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Create Wishlist</h4>
                            </div>

                            <div class="modal-body">

                                <fieldset class="form-group">
                                    <label for="inputitle">Title</label>
                                    <input type="text" id="inputitle" name="title" class="form-control" placeholder="Wishlist Title" required="">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="inputContent">Content</label>
                                    <textarea id="inputContent" name="content" rows="8" cols="40" class="form-control" placeholder="Wishlist Description" required=""></textarea>
                                </fieldset>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="lead">
                <div class="list-group">
                    <% wishlist.forEach(function(wishlist){ %>
                        <a href="#" class="list-group-item" data-id="<%= wishlist.id%>">
                            <img src="<%= gravatar %>" alt="" style="float: left; margin-right: 10px">
                            <div class="wishlist">
                                <form action="/wishlist" method="delete">
                                    <h4 class="list-group-item-heading">
                                        <%= wishlist.title %>
                                            <button class="btn btn-secondary pull-right deleteBtn" type="button" data-id="<%= wishlist.id%>">Delete</button>
                                    </h4>
                                    <p class="list-group-item-text">
                                        <%= wishlist.content %>
                                    </p>
                                    <small class="text-muted">By:
                                        <%= wishlist.user_id %>
                                    </small>
                                </form>
                            </div>
                        </a>
                        <% }); %>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
        <script>
            $('.deleteBtn').click(function() {
                var wishlist_id = $(this).data('id');      
                $.ajax({
                        url: '<%-urlPath%>'+'/'+wishlist_id,
                        type: 'DELETE',
                        success: function(result) {
                            console.log(result.message);
                            var itemToRemove = '.list-group-item[data-id='+wishlist_id+']';
                            $(itemToRemove).remove();
                        },
                        error: function(result){
                            alert("Unable to delete wishlist.");
                            console.log(result.message);
                        } 
                    });  
            });
           
        </script>
</body>

</html>