<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/stylesheet %>
    <% include ../partials/javascript %>
</head>

<body>
    <% include ../partials/header %>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="text-muted">Wishlist</h4>
                </div>
                <div class="row">
                    <% for(var i=0; i < products.length; i++){ %>
                      <style>
                        .productCard{
                          transition: box-shadow 0.3s, border 0.3s;
                          border: thin solid rgba(0, 0, 0, 0);
                        }
                        .productCard:hover{
                          border: thin solid #f80;
                          box-shadow: 0 0 10px #f80;
                        }
                      </style>
                      <a class="col-lg-3 pb-4">
                        <div class="card productCard">
                          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="card-img-top" alt="photo">
                          <div class="card-body">
                            <div class="card-title mb-1"><%= products[i].productName %></div>
                            <div class="card-text pb-2">
                              <%= products[i].productType %>
                            </div>
                            <h4 class="card-title text-warning">
                              SGD <%= products[i].price %>
                            </h4>
                            <div class="card-text">
                              <i class="material-icons pr-2" style="vertical-align: -6px">store</i><%= products[i].userID %>
                            </div>
                            <div class="card-text pt-3">
                              <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                              <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                              <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                              <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                              <i class="material-icons text-warning" style="font-size: 1rem">star</i>
                            </div>
                          </div>
                        </div>
                      </a>
                    <% } %>
                  </div>
                </div>
                <h2>Basic HTML Table</h2>

<table style="width:100%">
  <tr>
    <th>Product ID</th>
    <th>Product Name</th> 
    <th>Product quantity</th>
    <th>Product Price</th>
    <th>Product Type</th>
    <th>Seller</th>
    <th>Average Rating</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
        <% include ../partials/footer %>
        <script>
            $('.deleteBtn').click(function() {
                var wishlist_id = $(this).data('id');      
                $.ajax({
                        url: '<%-urlPath%>'+'/'+wishlist_id,
                        type: 'DELETE',
                        success: function(result) {
                            console.log(result.message);
                            var itemToRemove = '.list-group-item[data-id='+wishlist_id+']';
                            $(itemToRemove).remove();
                        },
                        error: function(result){
                            alert("Unable to delete wishlist.");
                            console.log(result.message);
                        } 
                    });  
            });
           
        </script>
</body>

</html>