<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
</head>
<body>
  <% include ../partials/header %>
  <div class="container">
    <h3 class="text-center p-3"> My WishList </h3>
    <%if (products.length == 0){%>
      <h5 class="text-center">You have not add any Products in Wishlist, you can keep Exploring and put your Favourite Here</h5>
    <%}%>
    <div class="row">
    <% for(var i=0; i < products.length; i++){ %>
          <style>
            .productCard{
              transition: box-shadow 0.3s, border 0.3s;
              border: thin solid rgba(0, 0, 0, 0);
            }
            .productCard:hover{
              border: thin solid #f80;
              box-shadow: 0 0 10px #f80;
            }
            .delBtn{
              cursor: pointer;
              transition: color 0.3s;
            }
            .delBtn:hover{
              color:red!important;
            }
          </style>
          <div class="col-lg-3 pb-4" id="wishlist<%=products[i].dataValues.productID%>">
            <div class="card productCard">
              <div class="text-right p-2"><i class="material-icons font-weight-bold grey-text delBtn" id="del<%=products[i].dataValues.productID%>">close</i></div>
              <a class="" href="<%=hostPath%>/product/<%=products[i].dataValues.productID%>">
                <div class="p-3">
                  <div class="prodImgContainer" 
                    style=
                      "background-image:url('<%=hostPath%>/images/products/<%=products[i].productImage%>');
                      background-size: contain;
                      background-repeat: no-repeat;
                      background-position: center center;
                      width: 100%;
                      padding-top: 75%;">
                  </div>
                </div>
                <div class="card-body">
                  <h6 class="card-title mb-1 text-dark font-weight-normal" style="height: 2.5rem;overflow: hidden;"><%= products[i].productName %></h6>
                  <div class="card-text pb-2">
                    <%= products[i].productType %>
                  </div>
                  <h4 class="card-title text-warning">
                    SGD <%= products[i].price %>
                  </h4>
                  <div class="card-text">
                    <i class="material-icons pr-2" style="vertical-align: -6px">store</i><%= products[i].userID %>
                  </div>
                </div>
              </a>
            </div>
            <script>
            $("#del<%=products[i].dataValues.productID%>").click(()=>{
              $.ajax({
                url: '<%=hostPath%>/wishlistmanager/<%=products[i].dataValues.productID%>',
                type: 'DELETE',
                success: (result)=>{
                  $("#wishlist<%=products[i].dataValues.productID%>").remove();
                },
                error: (result)=>{
                  alert("Unable to delete wishlist record.");
                  console.log(result.message);
                }
              });
            });
            </script>
          </div>
          <% } %>
      </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>
